<div id="<%= dom_id kasur %>">
  <div>
    <strong>Nama:</strong>
    <%= kasur.nama %>
  </div>

  <div>
    <strong>Deskripsi:</strong>
    <%= kasur.deskripsi %>
  </div>

  <div>
    <strong>Harga per hari:</strong>
    <%= kasur.harga_per_hari %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= kasur.status %>
  </div>

</div>
