<div id="<%= dom_id penyewa %>">
  <div>
    <strong>Nama:</strong>
    <%= penyewa.nama %>
  </div>

  <div>
    <strong>Alamat:</strong>
    <%= penyewa.alamat %>
  </div>

  <div>
    <strong>Nomor telepon:</strong>
    <%= penyewa.nomor_telepon %>
  </div>

  <div>
    <strong>Identitas:</strong>
    <%= penyewa.identitas %>
  </div>

</div>
