<div id="<%= dom_id sewa %>">
  <div>
    <strong>Kasur:</strong>
    <%= sewa.kasur_id %>
  </div>

  <div>
    <strong>Penyewa:</strong>
    <%= sewa.penyewa_id %>
  </div>

  <div>
    <strong>Tanggal mulai:</strong>
    <%= sewa.tanggal_mulai %>
  </div>

  <div>
    <strong>Tanggal selesai:</strong>
    <%= sewa.tanggal_selesai %>
  </div>

  <div>
    <strong>Total harga:</strong>
    <%= sewa.total_harga %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= sewa.status %>
  </div>

</div>
